@import url(map.css);

/*
*	$header-black			#353535	rgb(53, 53, 53)
*	$whitePlain				#ffffff	rgb(255,255,255)
*/

html, body {
	height: 100%;
}
.container {
	max-width:960px;
}

.header, .footer {
	background: #353535;
	padding:0.5em 0;
}

/* ++++++++++++++ HEADER ++++++++++++++ */

.logo > .img-cont {
	margin:0 auto;
	max-width: 65px;
}

.days-btn, .options-btn {
	color:#5C9EFF;
}

/* ++++++++++++++ MAP ++++++++++++++ 

	See map.css

 ++++++++++++++ FOOTER ++++++++++++++ */

.footer .img-cont {
	margin:0 auto;
	max-width: 300px;
}

.help-btn {
	color: #ffffff;
}

/* ++++++++++++++ GENERAL CLASSES ++++++++++++++ */

.menu-btn {
	text-transform: uppercase;
	font-size: 2.5em;
	background: transparent;
	border: none;
	border-radius: 5px;
}

img {
	width:100%;
}