@import url(map.css);

/*
*	$header-black			#353535	rgb(53, 53, 53)
*	$whitePlain				#ffffff	rgb(255,255,255)
*/

html, body, .container, main {
	height: 100%;
}
.container {
	max-width:960px;
}

.header, .footer {
	background: #353535;
	padding:0.5em 0;
}

/* ++++++++++++++ HEADER ++++++++++++++ */

.logo > .img-cont {
	margin:0 auto;
	max-width: 65px;
}

.days-btn, .options-btn {
	color:#F4F0E9;
}

/* ++++++++++++++ MENU ++++++++++++++ */

.days-menu-items li:hover {
	background: #5397e5;
}

.options-menu-items li:hover {
	background: #5397e5;
}


/* ++++++++++++++ MAP ++++++++++++++ 

	See map.css

 ++++++++++++++ FOOTER ++++++++++++++ */

.navbar-fixed-bottom {
	background-color: #2d2d2d;
	height: 50px;
	bottom: 0;
}

}

 .img-cont {
	padding: 50px;
 	margin: 0 auto;
	vertical-align: center;
}

.help-btn {
	color: #ffffff;
	padding: 10px;

}



/* ++++++++++++++ GENERAL CLASSES ++++++++++++++ */

.menu-btn {
	text-transform: uppercase;
	font-size: 2.5em;
	background: transparent;
	border: none;
	border-radius: 5px;
}

img {
	width:100%;

}


/************************  All Media Queries  ****************************/

/*Mobile*/
@media(max-width:767px){

	.text-right, .text-left, .options-button{
	padding: 0px;
	}
	.menu-btn {
	margin-top: 4%;
	font-size: 22px;
	padding-right: 10px;
	font-weight: bold;
	}

	.header, .footer {
	padding: 4% 4% 1% 1%;
	height: 52px;
	}


}

/*Tablet*/
@media(min-width:768px){

}

/*Laptop*/
@media(min-width:992px){

}

/*Desktop*/
@media(min-width:1200px){

}


